<div class="container">
    <h1 class="heading">Meet the team</h1>

    <div class="grid-container">
        <div class="cardBody">
            <img src="../assets/nick.jpg" alt="Nicholas Parise" class="image">
            <div class="info">
                <h2 class="name">Nicholas Parise</h2>
                <p class="role"><strong>Sole Developer &amp; Admin</strong></p>
                <ul class="list">
                    <li>Entire backend API development</li>
                    <li>Managed deployment and server infrastructure</li>
                    <li>Oversaw overall system architecture</li>
                </ul>
            </div>
        </div>
    </div>


    <h1 class="heading">Attribution</h1>


    ©<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
</div>