<div class="container">
    <h2>Explore Restaurants</h2>

    <div class="search-controls">
        <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search by name"
            class="search-input" />

        <select [(ngModel)]="searchMode" (change)="onSearchChange()">
            <option value="restaurants">Restaurants</option>
            <option value="users">Users</option>
            <option value="lists">Lists</option>
        </select>

        <div *ngIf="searchMode === 'restaurants'">
            <label class="switch-label">
                <input type="checkbox" [(ngModel)]="nearbyEnabled" (ngModelChange)="onToggleNearby($event)" />
                <span class="slider"></span>
                <span class="switch-text">Near Me</span>
            </label>

            <div *ngIf="nearbyEnabled" class="radius-control">
                <label for="radius">Radius: {{ searchRadius }} km</label>
                <input type="range" id="radius" min="1" max="50" step="1" [(ngModel)]="searchRadius"
                    (change)="onRadiusChange()" />
            </div>
        </div>

    </div>

    <div class="spacer grid-container" *ngIf="searchMode === 'restaurants'">
        <div class="center grid-item" *ngFor="let restaurantEntry of restaurantEntry">
            <app-restaurant-card [restaurantEntry]="restaurantEntry"></app-restaurant-card>
        </div>
    </div>

    <div class="spacer grid-container" *ngIf="searchMode === 'users'">
        <div class="center grid-item" *ngFor="let userEntry of userEntry">
            <app-user-card [userEntry]="userEntry" [menu]="LoggedIn"></app-user-card>
        </div>
    </div>

    <div class="spacer grid-container" *ngIf="searchMode === 'lists'">
        <div class="center grid-item" *ngFor="let listEntry of listEntry">
            <app-list-card [listEntry]="listEntry"></app-list-card>
        </div>
    </div>


    <p *ngIf="restaurantEntry && restaurantEntry.length === 0">No results found.</p>

    <div class="Pagination">
        <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>
        <p>{{this.currentPage}}</p>
        <button (click)="onNextPage()" [disabled]="currentPage >= maxPages">Next</button>
    </div>

</div>