
.pointer{
    cursor: pointer;
}


.actionsPanel{
    max-width: 600px;
}

.actionsPanel {
  padding: 0.8rem;
  background-color: #456;
  color: #bcd;
  border-bottom: 1px solid #2c3440;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: #82c2ff;
}


.image{

    max-width: 90%;
    min-width: 50px;
    
    max-height: 250px;
    min-height: 100px;
}


.grid-container {
    display: flex;
}

.grid-item{
    display:block;
    max-width: 100%;
  }


  textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  textarea:focus {
    border: 1px solid #555;
  }


  .tags{
   
    height: fit-content; 
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.tag-item{
  display: flex;
  padding: 2px;
  /*
  display: flex;
  margin: 2px

  background-color: lightblue;
  box-sizing: border-box;
  padding: 2px;
  width: clamp(0px, 50%, 130px);
  text-align: center;
  font-size: 20px;
   flex-direction: column;
  align-items: center;
  
  */
}


.icon-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
}

.icon-list li {
  font-size: 24px;
}


.text-white{
   color: white;
}

.text-green {
  color: #28a745;
}

.text-blue {
  color: #007bff;
}

.text-red {
  color: #dc3545;
}

.text-grey {
  color: #ccc;
}

.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}


  @media (max-width: 800px) {
    .grid-container {
      display: block;
    }
    .grid-item{
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
 
  }