<div class="container">
  <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="register-form">
    <h2>Reset Password</h2>
    <div>
      <label>Reset Code</label>
      <input type="text" formControlName="otc" />
      @if (f['otc'].touched && f['otc'].invalid) {
      <div class="error">Reset Code is required</div>
      }
      @if (invalidOTC) {
      <div class="error">{{ invalidOTC }}</div>
      }
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      @if (f['email'].touched && f['email'].invalid) {
      <div class="error">
        Enter a valid email
      </div>
      }
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
      @if (f['password'].touched && f['password'].invalid) {
      <div class="error">
        Password is required (min 6 chars)
      </div>
      }
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      @if (f['confirmPassword'].touched && f['confirmPassword'].invalid || passwordMismatch) {
      <div class="error">
        {{ passwordMismatch ? 'Passwords do not match' : 'Confirm your password' }}
      </div>
      }
    </div>

    @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
    }

    <button type="submit" class="btn" [class.btn-disabled]="recoverForm.invalid || invalidOTC"
      [disabled]="recoverForm.invalid">Reset Password</button>

  </form>
</div>