<div class="container">
    <div *ngIf="userEntry; else loading;">
        <div class="grid-container">
            <div class="grid-item">
                <img class="image" [src]="userEntry.picture || 'assets/placeholder-avatar.png'" alt="Profile Picture"
                (error)="onImageError($event)">
            </div>

            <div class="grid-item">
                <h2>{{userEntry?.name || userEntry?.username}}</h2>
                <p>{{userEntry?.bio}}</p>
                <div *ngIf="showEdit">
                    <app-user-form [userEntry]="userEntry"></app-user-form>
                </div>
            </div>
        </div>


        <h2 class="section-header">Favourite Restaurants</h2>
        <div class="spacer grid-container">
            <div class="center grid-item" *ngFor="let favRestaurantEntry of favRestaurantEntry">
            
                <app-restaurant-card *ngIf="showEdit" [restaurantEntry]="favRestaurantEntry" [menu]=true [favourite]=true></app-restaurant-card>
                <app-restaurant-card *ngIf="!showEdit" [restaurantEntry]="favRestaurantEntry" [menu]=false [favourite]=false></app-restaurant-card>

            </div>
        </div>


        <h2 class="section-header">Recent Activity</h2>

        <div class="recent-activity-wrapper">
            <div class="recent-activity-scroll">

                <div class="center grid-item" *ngFor="let recentRestaurantEntry of recentRestaurantEntry">
                    <app-restaurant-card [restaurantEntry]="recentRestaurantEntry"></app-restaurant-card>

                </div>
            </div>
        </div>


        <h2 class="section-header">Recent reviews</h2>
        <ul class="all-reviews">
            <li>
                <div class="" *ngFor="let reviewEntry of reviewEntry">
                    <app-review-card [reviewEntry]="reviewEntry"></app-review-card>
                </div>
            </li>
        </ul>

         <div class="Pagination">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>
            <p>{{this.currentPage}}</p>
            <button (click)="onNextPage()" [disabled]="currentPage >= maxPages">Next</button>
        </div>
    </div>

    <ng-template #loading>
        <div *ngIf="LoggedIn; else notLoggedIn">
        <p>Loading...</p>
    </div>
    </ng-template>

    <ng-template #notLoggedIn>
        <p>not logged in...</p>
    </ng-template>

</div>