STATUS=PRD

BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200

TRUEFRONTEND=https://deglazd.com

SECRET_KEY=

ADMIN_USERNAME=
ADMIN_PASSWORD=

DATABASE_URL=postgres://postgres:password@db:5432/fooddb

EMAIL_USER=TDB.no.reply@gmail.com
EMAIL_PASSWORD=
EMAIL_APPPASSWORD=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
TEST_MAILGUN_DOMAIN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
DEBUG_STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=