.close{
  cursor: pointer;
  width: 20px;
  color: gray;
  position: absolute;
  left: -22px;
  top: 10px;
  opacity: 0;
  transition: 0.2s;
}

.close:hover{
  left: -20px;
  opacity: 1;
}

.stars-input {
  display: flex;
  gap: 4px;
  position: relative;
  align-items: baseline;
}

.star {
    cursor: pointer;
    font-size: x-large;
    width: 20px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:'\2605';
}
.star.on {
    color: gold;
}
.star.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}

.star.onHover {
    color: lightgoldenrodyellow;
}
.star.halfHover:after {
    content:'\2605';
    color: lightgoldenrodyellow;
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
}



.heart{
    font-size: x-large;
    width: 20px;
    display: inline-block;
    color: gray;
    display: none;
    margin-left: 10px;
}


.heart:before {
    content: '\2665';
}

.heart.on {
    color: darkorange;
    display: inline;
}