.cardBody {
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

/*
.name {
    font-size: calc(100%);
    white-space: wrap;
}
*/

.name {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
}

.image {
    width: calc(100% - 5px);
    height: auto;
    object-fit: cover;
}


a {
    text-decoration: none;
    color: white;
}


.menu-wrapper {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1;
    color: white;
}

.menu-button:hover {
    color: #89a;
}


.menu-options {
    position: absolute;
    top: 28px;
    right: 68px;
    background-color: #567;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 120px;
    z-index: 100;
}

.menu-options li {
    color: #333;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}