<div class="container">
  <h2>Friends</h2>

  <div class="spacer grid-container">
    @for (userEntry of acceptedUsers; track userEntry) {
      <div class="center grid-item">
        <app-user-card [userEntry]="userEntry" [menu]="LoggedIn"></app-user-card>
      </div>
    }
  </div>

  @if (LoggedIn) {
    <div>
      <h3>Pending Users</h3>
      <h4>Sent</h4>
      <div class="spacer grid-container">
        @for (userEntry of pendingUsers; track userEntry) {
          @if (userEntry.direction === 'sent') {
            <div class="center grid-item">
              <app-user-card [userEntry]="userEntry" [menu]="true"></app-user-card>
            </div>
          }
        }
      </div>
      <h4>Recieved</h4>
      <div class="spacer grid-container">
        @for (userEntry of pendingUsers; track userEntry) {
          @if (userEntry.direction === 'received') {
            <div class="center grid-item">
              <app-user-card [userEntry]="userEntry" [menu]="true"></app-user-card>
            </div>
          }
        }
      </div>
      <h3>Declined Users</h3>
      <div class="spacer grid-container">
        <h4>Sent</h4>
        @for (userEntry of declinedUsers; track userEntry) {
          @if (userEntry.direction === 'sent') {
            <div class="center grid-item">
              <app-user-card [userEntry]="userEntry" [menu]="true"></app-user-card>
            </div>
          }
        }
      </div>
      <h4>Recieved</h4>
      <div class="spacer grid-container">
        @for (userEntry of declinedUsers; track userEntry) {
          @if (userEntry.direction === 'received') {
            <div class="center grid-item">
              <app-user-card [userEntry]="userEntry" [menu]="true"></app-user-card>
            </div>
          }
        }
      </div>
    </div>
  }
</div>