<div class="comment">

    <p class="signature">Review by: <a [routerLink]="['/user', reviewEntry.username]">{{reviewEntry.name || reviewEntry.username}}</a></p>
    <p>{{reviewEntry.description}}</p>

    <div class="stars">
        <span class="star" [class.on]="reviewEntry.score >= 2" [class.half]="reviewEntry.score == 1 "></span>
        <span class="star" [class.on]="reviewEntry.score >= 4" [class.half]="reviewEntry.score == 3 "></span>
        <span class="star" [class.on]="reviewEntry.score >= 6" [class.half]="reviewEntry.score == 5 "></span>
        <span class="star" [class.on]="reviewEntry.score >= 8" [class.half]="reviewEntry.score == 7 "></span>
        <span class="star" [class.on]="reviewEntry.score >= 10" [class.half]="reviewEntry.score == 9 "></span>
        <span class="heart" [class.on]="reviewEntry.liked == true"></span>   
    </div>
</div>

