<div class="comment">

    <a [routerLink]="['/user', reviewEntry.username]">
    <img class="image" [src]="reviewEntry.picture || 'assets/placeholder-avatar.png'" alt="Profile Picture"
        (error)="onImageError($event)">
    </a>
    <div class="comment-body">
        <p class="signature">Review by: <a [routerLink]="['/user', reviewEntry.username]">{{reviewEntry.name ||
                reviewEntry.username}}</a></p>
        <p>{{reviewEntry.description}}</p>

        <div class="stars">
            <app-stars [inputRating]=reviewEntry.score [static]=true [liked]=reviewEntry.liked></app-stars>
        </div>
    </div>
</div>