table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don’t double up */
}

tbody tr {
  border-bottom: 1px solid #ddd; /* Light gray line */
}

tbody tr:last-child {
  border-bottom: none; /* Optional: removes border from last row */
}

thead th {
  border-bottom: 2px solid #333; /* Darker line under the header */
  padding: 8px;
}


@media (max-width: 750px) {
  .col-review{
    display:none;
  }
}