table {
  width: 100%;
  border-collapse: collapse;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  height: 100%;
}

tbody tr:last-child {
  border-bottom: none;
}

thead th {
  border-bottom: 2px solid #333;
  padding: 8px;
  text-align: left;
}


@media (max-width: 750px) {
  .col-review{
    display:none;
  }
}

.container {
  background: var(--lightbackground);
  border-radius: 10px;
  border: 1px solid #3c455a;
}