<div class="container">

    <h1 class="heading">Terms of Service</h1>
    <p class="paragraph"><strong>Effective Date:</strong> April 5th 2025</p>

    <p class="paragraph">
        These Terms of Service ("Terms") govern your use of TBD ("we", "us", or
        "our"). By accessing or using our website, you agree to be bound by these
        Terms.
    </p>

    <h2 class="subheading">1. Service Overview</h2>
    <p class="paragraph">
        We help users find, share and review restaurants.
        We aim to have a close knit community who can help users have new experinces.
    </p>

    <h2 class="subheading">2. Account Registration</h2>
    <p class="paragraph">
        You must register an account to use key features. You agree to provide
        accurate information and keep your account credentials secure.
    </p>

    <h2 class="subheading">3. Email Usage</h2>
    <p class="paragraph">
        We only use your email to send essential communication related to:
    </p>
    <ul class="list">
        <li class="listItem">Account creation</li>
        <li class="listItem">Password reset</li>
    </ul>
    <p class="paragraph">No marketing emails will be sent, unless explicit consent in given</p>

    <h2 class="subheading">4. User Responsibilities</h2>
    <ul class="list">
        <li class="listItem">Use TBD lawfully and respectfully</li>
        <li class="listItem">Do not abuse or attempt unauthorized access</li>
        <li class="listItem">Ensure uploaded content is appropriate and legal</li>
        <li class="listItem">Do not use text fields to self promote</li>
    </ul>

    <h2 class="subheading">5. Features and Usage</h2>
    <p class="paragraph">Features include:</p>
    <ul class="list">
        <li class="listItem">Leave reviews</li>
        <li class="listItem">create and edit Lists</li>
        <li class="listItem">Explore nearby restaurants</li>
        <li class="listItem">personalize your profile</li>
    </ul>

    <h2 class="subheading">6. User Content</h2>
    <p class="paragraph">
        You agree not to upload, share, or create content that is unlawful, offensive, abusive, or infringes on the
        intellectual property rights of others. We reserve the right to remove such content and suspend offending
        accounts.
    </p>


    <h2 class="subheading">7. Content Ownership</h2>
    <p class="paragraph">
        You retain rights to content you create (e.g., reviews). You grant us
        permission to display and store this content to provide the service.
    </p>

    <h2 class="subheading">8. Termination</h2>
    <p class="paragraph">
        You may delete your account anytime. We reserve the right to suspend or
        terminate accounts for violations of these Terms.
    </p>

    <h2 class="subheading">9. Disclaimer</h2>
    <p class="paragraph">
        TBD is provided "as is". We are not liable for errors in restaurant listings,
        location discrepancies or issues from third-party links.
    </p>

    <h2 class="subheading">10. Limitation of Liability</h2>
    <p class="paragraph">
        To the extent permitted by law, we are not liable for indirect, incidental,
        or consequential damages arising from use of the platform.
    </p>

    <h2 class="subheading">11. Use of Anonymized Data</h2>
    <p class="paragraph">
        We may use anonymized data to analyze trends and improve our services. This information is used in
        aggregate form and is never associated with individual users.
    </p>


    <h2 class="subheading">12. Third-Party Links</h2>
    <p class="paragraph">
        Restaurants may contain links to third-party websites. We are not responsible for the content,
        availability, or practices of these external sites. Use them at your own discretion.
    </p>


    <h2 class="subheading">13. Affiliate Disclosure</h2>
    <p class="paragraph">
        Some of the links on the platform may be affiliate links. This means that if you click a link and make a
        purchase, we may receive a small commission at no extra cost to you. These commissions help support the
        ongoing development and maintenance of the platform.
    </p>


    <h2 class="subheading">14. Changes to These Terms</h2>
    <p class="paragraph">
        We may update these Terms. Significant changes will be communicated to users.
    </p>


    <h2 class="subheading">15. Governing Law</h2>
    <p class="paragraph">
        These Terms are governed by and construed in accordance with the laws of Canada, without regard to its conflict
        of law provisions.
    </p>


    <h2 class="subheading">16. Contact Us</h2>
    <p class="paragraph">
        If you have questions about these Terms, contact us at <a class="link"
            href="mailto:support@TBD.com">support&#64;TBD.com</a>.
    </p>

</div>