    
.cardBody{
    /*  min-width: 300px;*/
      max-width: 100px;
      max-height: 50px;

      padding: 0px !important;
      cursor: pointer;
      display: block;
    }


a{
    text-decoration: none;
    color: white;
    }


    .tooltip{
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        margin-left: -60px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
      }
      
      /* Show the tooltip text when you mouse over the tooltip container */
      .cardBody:hover .tooltip {
        visibility: visible;
      }