<div class="cardBody user-card" (mouseleave)="closeDropdown()">
  <a [routerLink]="['/user', userEntry.username]" class="user-info">
    <img [src]="userEntry.picture || 'assets/placeholder-avatar.png'" class="profile-pic" alt="Profile Picture"
      (error)="onImageError($event)" />

      <span class="name">
        {{ userEntry.name ? userEntry.name + ' (@' + userEntry.username + ')' : userEntry.username }}
      </span>
    </a>

    @if (allowMenu) {
      <div class="menu-wrapper">
        <button class="menu-button" (click)="toggleMenu()">⋯</button>
        @if (menuOpen) {
          <ul class="menu-options">
            @if (!userEntry.status) {
              <li (click)="addFriend()">Add Friend</li>
            }
            @if (userEntry.status === 'pending') {
              <li (click)="acceptFriend()">Accept Friend</li>
            }
            @if (userEntry.status === 'pending') {
              <li (click)="denyFriend()">Deny Friend</li>
            }
            @if (userEntry.status === 'accepted') {
              <li (click)="removeFriend()">Remove Friend</li>
            }
            <li (click)="reportUser()">Report</li>
          </ul>
        }
      </div>
    }
  </div>