<div class="container">
    <h2>{{restaurantEntry.name}}</h2>
    
    <div class="grid-container">

        <div class="grid-item">
            <img class = "image" src="{{restaurantEntry.pictures[0]}}" alt="">
        </div>
        <div class="grid-item">
            <p>{{restaurantEntry.description}}</p>
            <br>
            <p>address</p>
        </div>

        <div class="grid-item">
            <div class="actionsPanel">
                <ul>
                    <li>
                        <span class="icon">visited</span>
                        <span class="icon">favourite</span>
                        <span class="icon">Future Feasts</span>
                    </li>
        
                    <li>Rate</li>
                    <li>add a review</li>
                    <li>Log visit</li>
                </ul>
            </div>

        </div>


    </div>
    
    <div class="tags">
        <div class="center grid-item" *ngFor="let tagEntry of tagEntry">
            <app-tag-card [tagEntry]="tagEntry"></app-tag-card>
        </div>
    </div>

    
    
    <h2>Ratings</h2>


    <h2>Food items</h2>
    <div class="foods">
        <!-- ngfor to place all foods -->
    </div>


    <h2>Reviews</h2>
    <div class="reviews">

        <form>
            <textarea id="" placeholder="Add Your Comment" value=" "></textarea>
            <div class="btn">
                <input id="submit" type="submit" value="Comment">
            </div> 
         </form>

        <!-- ngfor to place all the reviews (page by page) -->
    </div>



</div>

