.formContainer {
    display: none;
    z-index: 2;
    width: 200px;
    height: 200px;
    background-color: var(--review);;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.menuClose {
    position: absolute;
    color: red;
    background-color: #383847;
    border-radius: 10px;
    top: 0px;
    right: 0px;
}