textarea.form-control {
  resize: vertical;
  min-height: 80px;
  resize: none;
  overflow: auto;
}

.rating-extras {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 1rem;
  align-items: center;
}


.heart, .visited, .bookmark {
  font-size: 28px;
  color: gray;
  line-height: 1;
  display: inline-block;
  width: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.heart.on {
    color: darkorange;
}

.visited.on {
  color: green;
}

.bookmark.on {
  color: lightblue;
}

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form input[type="text"],
form input[type="number"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background: #2e2e40;
  color: white;
}

.btn {
  margin-top: 16px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}


.btn-success{
 background: #28a745;
}

.btn-success:hover {
  background: #218838;
}

.btn-cancel{
  background:red;
}

.btn-cancel:hover{
  background:rgb(204, 32, 32);
}


.icon-label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.icon-text {
  font-size: 12px;
  color: gray;
  margin-top: 2px;
}



.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.action-buttons button {
  background-color: darkgrey;
  border: none;
  color: white;
  text-align: center;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.action-buttons button:hover {
  background-color: lightgray;
}


.star-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.rating-label {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.2rem;

}


.icons-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.icon {
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #444;
  cursor: default;
}

.actions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actions-list li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #2c3440;
  padding: 5px 0;
  text-align: center;
}
