<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <h2>Register</h2>
    <div>
      <label>Name</label>
      <input type="text" formControlName="name" />
      <div *ngIf="f['name'].touched && f['name'].invalid" class="error">Name is required</div>
    </div>

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" />
      <div *ngIf="f['email'].touched && f['email'].invalid" class="error">
        Enter a valid email
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
      <div *ngIf="f['password'].touched && f['password'].invalid" class="error">
        Password is required (min 6 chars)
      </div>
    </div>

    <div>
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid || passwordMismatch" class="error">
        {{ passwordMismatch ? 'Passwords do not match' : 'Confirm your password' }}
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
